//- Expected input data:
//-   urlTitle(String): the url for this wiki page
//-   title (String): the title of this wiki page
//-   content (String): the html content to populate the wiki page
//-   isArticle (Boolean): Whether or not this page is an article (as opposed to a discussion page)
!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/contentPage.css')
  body
    #menu
      img(border='0', src='/img/byu_logo.png', alt='BYU logo', width='90%')
      br
      a(href='/')
        | Main Page
        a
          br
          a(href='/list')
            | Browse Pages
            a
          br
          br
          br
          br
          br
          | Create New Page
          form#newPageBox(action='/createNew', method='get')
            input(type='text', name='page', size='14', placeholder='Enter page name')
            br
            input(type='submit', value='Create')
    #topheader
      //-a.login(href='#') Login
      //-a.createaccount(href='#') Create Account
      #header
        ul
          li#selected
            a(href='#') Article
          li
            a(href='#') Discussion
      #headerright
        ul
          li#selected2
            a(href='#') Read
          li#edit
            a(href='/edit/#{urlTitle}') Edit
      #search
        form#searchBox(action='/search', method='get')
          input(type='text', name='query', size='30')
          input(type='submit', value='Search')
    #articleContent
      h1 #{title}
      !{content}
