//- Expected input data:
//-   urlTitle(String): the url for this wiki page
//-   title (String): the title of this wiki page
//-   isArticle(Boolean): whether or not this page is an article (as opposed to a discussion page)
//-   categories(Array(String)): an array of categories this page currently belongs to
!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/contentPage.css')
  body
    #menu
      img(border='0', src='http://localhost:8080/img/byu_logo.png', alt='BYU logo', width='100%', height='30%')
      br
      a(href='')
        | Main Page
        a
          br
          a(href='')
            | Browse Majors
            a
    #topheader
      a.login(href='#') Login
      a.createaccount(href='#') Create Account
      #header
        ul
          li#selected
            a(href='#') Article
          li
            a(href='#') Discussion
      #headerright
        ul
          li#read
            a(href='/wiki/#{urlTitle}') Read
          li#selected2
            a(href='#') Edit
      #search
        form#cse-search-box(action='http/google.com/cse')
          input(type='hidden', name='cx', value='YOUR SEARCH ENGINE ID goes here')
          input(type='hidden', name='ie', value='UTF-8')
          input(type='text', name='q', size='25')
          input(type='submit', name='sa', value='Search')
    #editContent
      h1
        | Edit: #{title}
      hr
      #placeHolder Text Editor Goes Here
      form#dropdown(action='')
        select(name='cars')
          option(value='Select Category') Select Category
          option(value='saab') Physical & Mathematical Sciences
          option(value='fiat') Marriot School of Business
          option(value='audi') Theater & Media Arts
      p#addCategory + Add New Category
