!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/homePage.css')
  body
    //a.login(href='#') Login
    //a.createaccount(href='#') Create Account
    h1
      | BYU Class Wiki
    img#image(border='0', src='/img/byu_logo.png', alt='BYU logo', width='50%', height='50%')
    br
    br
    #search
      form#searchBox(action='/search', method='get')
        input(type='text', name='query', size='40')
        input(type='submit', value='Search')
      p OR
      a(href='/list') Browse Pages
