!!! 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/homePage.css')
  body
    a.login(href='#') Login
    a.createaccount(href='#') Create Account
    h1
      | BYU Class Wiki
    img#image(border='0', src='/img/byu_logo.png', alt='BYU logo', width='70%')
    br
    br
    #search
      form#cse-search-box(action='http://google.com/cse')
        input(type='hidden', name='cx', value='YOUR SEARCH ENGINE ID goes here')
        input(type='hidden', name='ie', value='UTF-8')
        input(type='text', name='q', size='40')
        input(type='submit', name='sa', value='Search')
      p OR
      a(href='/list') Browse Majors
