block content
    h1.
        Dummy Page Two
    ul
        each wiki, i in template_pageTwo
            li
                a(href="localhost")= wiki.wikiName
            li
                a(href="localhost")= wiki.categoryName

            div(style='width:100%;')
                 != wiki.html

