<!DOCTYPE html><html><head><link rel="stylesheet" type="text/css" href=/css/contentPage.css></head><body><div id="menu">
    <img border="0" src="http://localhost:8080/img/byu_logo.png" alt="BYU logo" width="100%" height="30%">
    <br> <a href="">Main Page<a>
        <br><a href="">Browse Majors<a>
</div>
<div id="topheader"> 
        <a href="#" class="login">Login</a>
 <a href="#" class="createaccount">Create Account</a>

    <div id="search">
        <form id="cse-search-box" action="http/google.com/cse">
            <input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="25" />
            <input type="submit" name="sa" value="Search" />
        </form>
    </div>
</div>

    <div id="navigationContent">
        <h1>Category: College of Physical and Mathematical Sciences</h1>
        <h2>Computer Science</h2>
        <hr>
         <p><a href="#">CS 124</a> - CS 124 focuses on hardware and low-level...</p>
        <p><a href="#">CS 142</a> - CS 142 is an introductory course to computer programming. It is...</p>
        <p><a href="#">CS 245</a> - CS 235 focuses on data structures and the implementations...</p>
                    <h2>Statistics</h2>
        <hr><p><a href="#">Stat 121</a> - Stat 121 teaches the basic principles of statistics...</p>
            <p><a href="#">Stat 151</a> - Stat 151 teaches the basics of bayesian statistics...</p>

</div></body></html>