<!DOCTYPE html><html><head><link rel="stylesheet" type="text/css" href=/css/contentPage.css></head><body><div id="menu">
    <img border="0" src="http://localhost:8080/img/byu_logo.png" alt="BYU logo" width="100%" height="30%">
    <br> <a href="">Main Page<a>
        <br><a href="">Browse Majors<a>
</div>
<div id="topheader"> 
        <a href="#" class="login">Login</a>
 <a href="#" class="createaccount">Create Account</a>

    <div id="search">
        <form id="cse-search-box" action="http/google.com/cse">
            <input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="25" />
            <input type="submit" name="sa" value="Search" />
        </form>
    </div>
</div>
<div id="articleContent">
     <h1>Discussion: CS 142</h1>
    <hr>
    <div id="tableofcontents">
        <ol class="nested">
            <li class="nested">
<a href="#tips">Tips</a>

                <ol class="nested">
                    <li class="nested"><a href="#reviews">Teacher Reviews</a>

                    </li>
                    <li class="nested"><a href="#tests">Tests</a>

                    </li>
                </ol>
        </ol>
    </div>
        <h2 id="tips">Tips</h2><hr>
        <p>CS 142 is Intro to Computer Programming. This class is taught mainly in C++ and includes the basics of object-oriented programming. It is orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada dui nisl, in porttitor augue porta eu. Aenean vel libero ut diam ullamcorper pharetra. Donec ornare auctor dolor ut dignissim. Pellentesque ac libero luctus, imperdiet nulla ut, ultrices quam. Proin sed turpis placerat enim luctus feugiat. 
<span class="accountInfo">—Tim32 07:51 pm, May 6 2009</span></p>
        <h2 id="reviews">Teacher Reviews</h2><hr>
        <p id="reviews">Take is from John Silver. It is orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada dui nisl, in porttitor augue porta eu. Aenean vel libero ut diam ullamcorper pharetra. Donec ornare auctor dolor ut dignissim. Pellentesque ac libero luctus, imperdiet nulla ut, ultrices quam. Proin sed turpis placerat enim luctus feugiat.<span class="accountInfo">—John19 09:21 pm, July 2 2011</span></p></p>
        <h2 id="tests">Tests</h2><hr>
        <p id="tests">Tests are hard. It is orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada dui nisl, in porttitor augue porta eu. Aenean vel libero ut diam ullamcorper pharetra. Donec ornare auctor dolor ut dignissim. Pellentesque ac libero luctus, imperdiet nulla ut, ultrices quam. Proin sed turpis placerat enim luctus feugiat.<span class="accountInfo">—FunnyGuy15 02:31 am, December 8 1992</span></p></p>
</div></body></html>