<!DOCTYPE html><html><head><link rel="stylesheet" type="text/css" href=/css/contentPage.css>
<script>
    function addCategory() {
        var category = prompt("Please enter a new category:");

        if (category != null && category != "") {
            displayResult(category);
        }
    }

    function displayResult(category) {

        var x = document.getElementById("categories");
        var option = document.createElement("option");
        option.text = category;
        try {
            // for IE earlier than version 8
            x.add(option, x.options[null]);
        } catch (e) {
            x.add(option, null);
        }
    }
</script></head><body><div id="menu">
    <img border="0" src="http://localhost:8080/img/byu_logo.png" alt="BYU logo" width="100%" height="30%">
    <br> <a href="">Main Page<a>
        <br><a href="">Browse Majors<a>
</div>
<div id="topheader"> 
        <a href="#" class="login">Login</a>
 <a href="#" class="createaccount">Create Account</a>

    <div id="header">
        <ul>
            <li id="selected"><a href="#">Article</a>

            </li>
            <li><a href="#">Discussion</a>

            </li>
        </ul>
    </div>
    <div id="headerright">
        <ul>
            <li id="read"><a href="#">Read</a>

            </li>
            <li id="selected2"><a href="#">Edit</a>

            </li>
        </ul>
    </div>
    <div id="search">
        <form id="cse-search-box" action="http/google.com/cse">
            <input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="25" />
            <input type="submit" name="sa" value="Search" />
        </form>
    </div>
</div>
<div id="editContent"> <a id="howToEdit" href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet">How to Edit This Page</a>

     <h1>Editing: CS 142</h1>

    <div id="placeHolder">Text Editor Goes Here</div>
    <form id="dropdown">
        <select id="categories" name="categories">
        </select>
    </form>
    <p><button type="button" onclick="addCategory()">+</button>
    Add New Category</p>
    <div id="buttons"> <a href="#" class="save">Save Changes</a>
 <a href="#" class="cancel">Cancel</a>

    </div>
</div></body></html>