<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href=/css/homePage.css>
</head>

<body>
<a href="#" class="login">Login</a>
 <a href="#" class="createaccount">Create Account</a> 
<h1>
        BYU Class Wiki
    </h1>

<img id="image" border="0" src="http://localhost:8080/img/byu_logo.png" alt="BYU logo" width="70%" height="60%">
<div id="search">
    <form id="cse-search-box" action="http://google.com/cse">
        <input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" size="40" />
        <input type="submit" name="sa" value="Search" />
    </form>
    <p>OR</p>
            <a href="">Browse Majors</a>
</div>


</body>
</html>
