html {
    height:100%;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #D3D5DE 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #D3D5DE 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #D3D5DE 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D5DE));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #D3D5DE 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #D3D5DE 100%);
    background-repeat:repeat-x;
    background-attachment:fixed;
}
body {
    position: relative;
    height: 100%;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
a {
    text-decoration:none;
}
#menu {
    margin-left:2px;
    padding:5px;
    float:left;
    width:12%;
    text-align:left;
}
#topheader {
    position: relative;
    height:65px;
}
#navigation {
    font-size:12px;
}
/*tabs*/
 #header {
    position: absolute;
    bottom:0;
    margin-left:12%;
}
#headerright {
    position: absolute;
    bottom:0;
    margin-left:70%;
    margin-right:20%;
}
#header ul {
    list-style: none;
    padding:0;
    margin:0;
}
#headerright ul {
    list-style: none;
    padding:0;
    margin:0;
}
#header li {
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
}
#headerright li {
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
}
#header li a {
    padding: 0 1em;
    text-decoration:none;
}
#headerright li a {
    padding: 0 1em;
    text-decoration:none;
}
#header #selected {
    position: relative;
    top: 1px;
    background: white;
}
#headerright #selected2 {
    position: relative;
    top: 1px;
    background: white;
}
/*end tabs*/
 #search {
    position: absolute;
    bottom:0;
    right:0;
}
.createaccount {
    float:right;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#3b3b3b;
    font-family:Verdana;
    font-size:10px;
    font-weight:normal;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:86px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
.createaccount:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.createaccount:active {
    position:relative;
    top:1px;
}
.login {
    float:right;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#3b3b3b;
    font-family:Verdana;
    font-size:10px;
    font-weight:normal;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:32px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
.login:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.login:active {
    position:relative;
    top:1px;
}
/*Content pane styling*/
 #articleContent {
    background-color:white;
    border: 1px solid;
    margin-left:12%;
    padding:10px
}
#articleContent p {
    clear:left;
    text-indent:50px;
}
#articleContent img {
    padding-left:10px;
    float:right;
}
#articleContent #tableofcontents {
    padding-right:30px;
    float: left;
    border: 1px solid;
}
#articleContent #tableofcontents ol.nested {
    counter-reset: item
}
#articleContent #tableofcontents li.nested {
    display: block;
}
#articleContent #tableofcontents li.nested:before {
    content: counters(item, ".")". ";
    counter-increment: item
}
#articleContent h2 {
    padding-top:15px;
    clear:left;
}
#articleContent h3 {
    clear:left;
}
/*Search Page Content*/
 #searchContent {
    background-color:white;
    border: 1px solid;
    margin-left:12%;
    padding:10px
}
#searchContent h2 {
    font-size:14px;
    text-indent: 2.0em;
}
#searchContent p {
    font-size:12px;
    text-indent: 5.0em;
}
/*Navigation Page Content*/
 #navigationContent {
    background-color:white;
    border: 1px solid;
    margin-left:12%;
    padding:10px
}
#navigationContent h1 {
    font-size:20px;
    margin-bottom:20px;
}
#navigationContent h2 {
    font-size:16px;
    text-indent: 2.0em;
}
#navigationContent p {
    font-size:14px;
    text-indent: 6.0em;
}
/*Editing Page Content*/
#editContent {
    background-color:white;
    border: 1px solid;
    margin-left:12%;
    padding:10px;
    height: 90%;
    min-height: 700px;
}
#editContent #editorPanes {
    width:100%;
    height: 620px;
    background-color: #F8F8F8;
}
#editContent #toolbar {
    float: left;
    width: 100%;
    padding: 0px 0px;
    margin:10;
}
#editContent #saveBar {
    float: left;
    width: 100%;
    background-color: white;
    padding: 0;
}
#editContent #inputPane {
    width:49%;
    height:70%;
    float: left;
    overflow: scroll;
}
#editContent #previewPane {
    float: right;
    overflow: scroll;
    background-color: white;
    width:49%;
    height:70%;
    border: 1px solid;
}
#editContent #dropdown
{
    float:left;
}
#editContent #addCategory
{
    margin-top:0;
}

.accountInfo
{
    font-size:10px;
    font-style:italic;
}

/****
Save and cancel buttons
*****/

#buttons
{
    margin-bottom:30px;
}

.save {
    float:left;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#3b3b3b;
    font-family:Verdana;
    font-size:10px;
    font-weight:normal;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:86px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
.save:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.save:active {
    position:relative;
    top:1px;
}
.cancel {
    float:left;
    margin-left:5px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#3b3b3b;
    font-family:Verdana;
    font-size:10px;
    font-weight:normal;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:32px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
.cancel:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.cancel:active {
    position:relative;
    top:1px;
}
#howToEdit
{
    position:relative;
    float:right;
}
