#sidebar{
	background-color:#D8D8D8; 
	height:100%; 
	width:100px; 
	float:left;
}

#maincontain{
	width:100%;
}

#header{
	background-color:#D8D8D8;
	width:100%
	/*background:url(byulogo.png) no-repeat;*/
}

#content{
	border-style:solid;
	border-width:3px;
	border-color:#AAAAAA;
	background-color:#FFFFFF; 
	height:100%; 
	width:1165px; 
	float:left;
}

#footer{
	background-color:#F00F0F; 
	clear:both; 
	text-align:center;
}

h1{
	text-align:center;
}